---
---

@import "minima";

$border-color: #4b6a88;
$border-radius: 5px;

@page {
  size: A4 landscape;
  marks: cross;
  bleed: .9cm;
}

.cards-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  > h1 {
    margin: 3em 10px;
    width: 100%;
  }
}

.icon {
  height: 60px;
  width: 60px;
}

.card {
  border: 2px solid $border-color;
  border-radius: $border-radius;
  background: white;
  display: flex;
  flex: 1;
  flex-flow: column;
  min-height: 3.5in;
  max-height: 3.5in;
  margin: 10px auto;
  min-width: 2.5in;
  max-width: 2.5in;
  position: relative;
  text-align: center;
  break-inside: avoid;

  .card__title,
  .card__icon {
    flex: 1;
    text-align: center;
    z-index: 999;
  }

  .card__illustration {
    position: absolute;
    top: .7in;
    width: 100%;
    z-index: 0;
  }

  .card__title {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border-top: 2px solid $border-color;
    font-weight: bold;
    margin-bottom: 0;
    max-height: 3em;
    order: 90;
    padding-top: 1.5em;
  }
}

@media print {
  .site-header,
  .site-footer,
  .cards-list > h1 {
    display: none;
  }

  main {
    padding: 0;
  }

  .cards-list {
    display: block;
  }

  .card {
    flex: none;
    float: left;
    widows: 0;
    margin: .03cm;
  }
}
